{% extends 'page.html' %}

{% block sidenav_items %}
    {{ super() }}
    <li>
        <ul class="list-unstyled" id="employeeSubmenu">
            <li class="nav-item {{ u.is_active_url(url('profile'), request) }}">
                <a class="nav-link" href="{{ url('profile') }}"><i class="fas fa-user-circle"></i> My Profile</a>
            </li>
            <li class="nav-item {{ u.is_active_url(url('profile_search'), request) }}">
                <a class="nav-link" href="{{ url('profile_search') }}"><i class="fa fa-users" aria-hidden="true"></i>  Search Employee</a>
            </li>
            {% if u.employee_verify_access("employee_create", request.user) %}
                <li class="nav-item {{ u.is_active_url(url('profile_new'), request) }}">
                    <a class="nav-link" href="{{ url('profile_new') }}"><i class="fas fa-user-plus"></i> Register New Employee</a>
                </li>
            {% endif %}
        </ul>
  </li>
{% endblock %}

{% block breadcrumbs %}
    {% set url_active = u.is_active_url(url('profile'), request) %}
    <li class="breadcrumb-item {{ url_active }}" aria-current="page">
        {% if url_active %}
            Profile
        {% else %}
        <a href="{{ url('profile') }}">
            Profile
        </a>
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    <div class="container-fluid d-flex">
       {% block profile_container %}
       {% endblock %}
    </div>
{% endblock %}