{% extends 'profile/base.html' %}


{% block breadcrumbs %}
    {{ super() }}
    {% if action == "create" %}
        <li class="breadcrumb-item active" aria-current="page">
           New
        </li>
    {% elif action == "edit" %}
        {% if request.user.id != profile.id %}
            <li class="breadcrumb-item" aria-current="page">
                <a href="{{ url('profile', kwargs={'profile_id': profile.id} ) }}">
                    {{ profile.last_name.title() }}, {{ profile.first_name.title() }}
                </a>
            </li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">
           Edit
        </li>
    {% endif %}
{% endblock %}


{% block profile_container %}
    {% if action == "edit" %}
        <div class="col-lg-3 col-md-3 pl-0">
            <div class="contents text-center h-100">
                {% block aside_profile_section %}
                    {% with profile = profile, action=action or '' %}
                        {% include 'profile/snippets/profile_aside.html' %}
                    {% endwith %}
                {% endblock %}
            </div>
        </div>
        <div class="col-lg-9 col-md-9 contents">
    {% else %}
        <div class="container-fluid contents">
    {% endif %}
        {% block profile_form %}
        {% endblock %}
    </div>
{% endblock %}