{% extends 'profile/read_base.html' %}


{% block profile_details %}
    <div>
        {% if u.employee_verify_access("employee_update", request.user, profile.get('employee_id')) %}
            <div class="flex text-right">
                <a class="btn btn-link text-color-menu mb-2"
                   href="{{ url('profile_edit', kwargs={'profile_id': profile.id}) }}" role="button">
                    <span class="p-1">
                        <i class="fas fa-pencil-alt"></i>
                        Edit
                    </span>
                </a>
            </div>
        {% endif %}

     <div class="d-flex text-center h-100 employee-information">

    {% set exclude_items = [
        "bio",
        "position"
        ] %}

    {% set schema_groups = u.get_schema_groups("employee_schema") %}



        {% for gp in schema_groups %}
            <div class="profile-details">
                <h5 class="text-left text-bg p-3"> {{ gp }}</h5>
                <table class="table table-responsive-sm table-hover text-left profile-details">
                    <tbody>
                    {% for key in schema_groups[gp] %}

                        {% if key not in exclude_items %}
                            {% if key in profile %}

                                {% set val = profile[key] %}
                                {% set display_field = schema.properties[key]["display_snippet"] %}

                                {% if not display_field %}
                                    {% set display_field = "text.html" %}
                                {% endif %}

                                {% set display_snippet = 'snippets/display_snippets/' + display_field %}

                                <tr>
                                    <td scope="row" class="profile-label">
                                        {{ schema.properties[key]["label"] }}
                                    </td>
                                    <td class="profile-item {% if not val %}text-summary{% endif %}">
                                        {% with data=profile, key=key, property=schema.properties[key] %}
                                            {% include display_snippet %}
                                        {% endwith %}
                                    </td>
                                <tr>

                            {% endif %}
                        {% endif %}

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
    </div>

{% endblock %}