{% extends 'profile/read_base.html' %}

{% block change_password %}
	<div class="flex text-left h-100 contents flex-wrap">
		<div class="container">
			<h4 class="text-left"> Change Password</h4>
			<ul class="mt-5">
				<li class="text-summary">
					Your password can't be too similar to your other personal information.
				</li>
				<li class="text-summary">
					Your password must contain at least 8 characters.
				</li>
				<li class="text-summary">
					Your password can't be a commonly used password.
				</li>
				<li class="text-summary">
					Your password can't be entirely numeric.
				</li>
			</ul>
		</div>
		<div class="container mt-5">
			<form method="post">
				<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

				<div class="form-group ">
					<label class="control-label"><span
							title="This field is required" class="control-required">*</span> Old password</label>
					<div class="controls ">
						<input id="id_old_password" type="password" name="old_password" placeholder="Old Password"
							   class="form-control">
						{% if form.errors.old_password %}
							{% for e in form.errors.old_password %}
							<span class="error-block">{{ e }}</span>
							{% endfor %}
						{% endif %}
					</div>
				</div>

				<div class="form-group ">
					<label class="control-label"><span
							title="This field is required" class="control-required">*</span> New password</label>
					<div class="controls ">
						<input id="id_new_password1" type="password" name="new_password1" placeholder="New Password"
							   class="form-control">
						{% if form.errors.new_password1 %}
							{% for e in form.errors.new_password1 %}
							<span class="error-block">{{ e }}</span>
							{% endfor %}
						{% endif %}
					</div>
				</div>

				<div class="form-group ">
					<label class="control-label"><span
							title="This field is required" class="control-required">*</span>
						New password confirmation
					</label>
					<div class="controls ">
						<input id="id_new_password2" type="password" name="new_password2" placeholder="Confirm Password"
							   class="form-control">
						{% if form.errors.new_password2 %}
							{% for e in form.errors.new_password2 %}
							<span class="error-block">{{ e }}</span>
							{% endfor %}
						{% endif %}
					</div>
				</div>

				<div class="form-group">
					<input type="submit" value="Change Password" class="btn float-center button-primary">
				</div>
			</form>
		</div>
	</div>
{% endblock %}